:root {
  background-color: #1a1a1a;
  /* Disable scroll bar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}
