* {
  margin: 0;
  padding: 0;
  background-color: #dfdfdf;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* Disable scroll bar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

.front-page-header {
  position: relative;
  width: 100%;
  aspect-ratio: 1250/535;
}

.front-page-header > p {
  position: absolute;
  background: transparent;
  left: 1vw;
  top: 1vw;

  color: white;
  padding: 5vw;
  font-size: 5vw;
}

.front-page-header > img {
  width: 100%;
  height: 100%;
}

.front-page-content {
  width: 100%;
  height: 10000px;
}
